<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}" type="text/css">
        <link rel="stylesheet" href="../static/css/card.css" th:href="@{/css/card.css}" type="text/css">
        <title th:text="'Profile of ' + ${username}"/>
    </head>
    <body>
        <header>
            <a href="/" class="logo">OBank</a>
            <nav>
                <ul>
                    <li><a href="/user/id/0" class="sign">Account</a></li>
                    <li><a href="/sign/in" class="sign">Sign in</a></li>
                    <li><a href="/sign/up" class="sign">Sign up</a></li>
                </ul>
            </nav>
        </header>
        <div class="card">
            <div class="bank-name" title="OBank">OBank</div>
            <div class="chip">
                <div class="side left"></div>
                <div class="side right"></div>
                <div class="vertical top"></div>
                <div class="vertical bottom"></div>
            </div>
            <div class="data">
                <div th:with="user = ${user}"><br>
                    <div class="user_id">
                        <label>ID: </label>
                        <a th:text="${user.id}"/>
                    </div>
                    <div class="user_card">
                        <label>Card number: </label>
                        <a th:text="${cardNumber}"/>
                    </div>
                    <div class="user_amount">
                        <label>User amount: </label>
                        <a th:text="${amount}"/>
                    </div>
                    <div class="user_username">
                        <label>Username: </label>
                        <a th:text="${user.username}"/>
                    </div>
                    <div class="exp-date-wrapper">
                        <div class="exp-date">
                        </div>
                    </div>
                </div>
                <div class="lines-down"></div>
                <div class="lines-up"></div>
            </div>
        </div>
        <div class="active">
            <div class="add_amount">
                <a class="active_inf" th:href="'/user/add_amount'">Add amount</a>
            </div><br>

            <div class="get_amount">
                <a class="active_inf" th:href="'/user/get_amount'">Get amount</a>
            </div><br>

            <div class="transaction">
                <a class="active_inf" href="/user/transaction">add transaction</a>
            </div><br>
            <div class="logout">
                <a class="active_inf" href="/user/transaction_list">transaction list</a>
            </div><br>

            <div class="logout">
                <a class="active_inf" href="/user/logout">logout</a>
            </div><br>
        </div>
    </body>
</html>