<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Transaction</title>
</head>
<body>
    <form th:method="POST" th:action="'/user/add_transaction'" >
        <div class="txt_field">
            <label>To card number</label>
            <span></span>
            <input name = "toCardNumber" id="toCardNumber" type="text" required>
        </div>
        <div class="txt_field">
            <label>amount</label>
            <span></span>
            <input name = "amount" id="amount" type="text" required>
        </div>
        <input type="submit" value="Create transaction">
    </form>
</body>
</html>