<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create card</title>
</head>
<body>
    <form th:method="POST" th:action="@{/user/create_card/1}" >
        <div class="txt_field">
            <label>Card number</label>
            <span></span>
            <input name = "cardNumber" id="cardNumber" type="text" required>
        </div>
        <input type="submit" value="Create card">
    </form>
</body>
</html>