<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/auth.css" th:href="@{/css/auth.css}" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <header>
        <a href="/" class="logo">OBank</a>
        <nav>
            <ul>
                <li><a href="/sign/in" class="sign">Sign in</a></li>
                <li><a href="/sign/up" class="sign">Sign up</a></li>
            </ul>
        </nav>
    </header>
    <div class="center">
        <h1>Sign up</h1>
        <form th:method="POST" th:action="@{/sign/up_process}" th:object="${user}">
            <div class="txt_field">
                <input th:field="*{username}" id="username" type="text" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input th:field="*{password}" id="password" name="password" type="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="txt_field">
                <input id="confPassword" name = "confPassword" type="password" required>
                <span></span>
                <label>Confirm password</label>
            </div>
            <input type="submit" value="Sign up">
            <div class="signup_link">
                Have an account? <a href="/sign/in">Sign in</a>
            </div>
        </form>
    </div>
</body>
</html>